*, :after, :before {
    box-sizing: border-box;
}

:root{
    --hero-blue: #287a9f;
}

html {
    background-color: #f6f6f6d5;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1500px;
    padding-right: 10px;
    padding-left: 10px; 
   }

a {
  color: var(--hero-blue);
}

a:active {
    font-size: 1rem;
    color: yellow;
}

/* General styling */

h1 {
    font-size: 3.2rem;
    text-align: center;
    color: white;
    font-weight: 900;
    margin: 0px;
    font-family: audioWide;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: audiowide;
    color:white;
}

p {
    font-size: 1.2rem;
}

/* Navigation Styling */

.menu {
display: flex;
justify-content: space-around;
align-items: flex-start;
 }

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: audioWide;
    flex-wrap: wrap;
   }

.nav ul li {
    padding: 10px;
 }

 .nav ul li a {
    padding: 5px 0px 5px 0px;
  }

 .nav ul li a:hover {
    background:rgba(1,1,1,0.3);
  }

/* Hero Styling */

.hero {
    background-image: url(/images/hero-image.png);
    padding-top: 5px;
    padding-bottom: 85px;
    height: 900px;
    width: auto;
}

.hero-content {
    display: flex;
    align-items: center;
    height: 900px;
    justify-content: space;

}

.leftbox {
    background: #287a9f;
    padding: 100px 25px 100px 25px;
    margin: 25px;
    flex-grow: 0;
}

.rightboxdog {
    width: 75%;
    margin: 25px;
    align-self: center;
}

.rightboxdog img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.leftbox p {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

/* Image Gallery Grid Styling */

.grid-headline p {
    font-size: 1.5rem;
    text-align: center;
}

.image-gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    grid-gap: 20px;
    align-items: center;
}

.image-gallery-container .item {
    font-size: 1.5rem;
    text-align: center;
    z-index: 8;
    position: relative;
}

/* .item-1 {
    background-image:url(/images/square.jpg);
    background-size: cover;
    width: 1fr;
    height: 1fr;
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
} */

.centered-image-text {
    color: red;
    font-size: 1.3rem;
    position: absolute;
    left: 0;
    width: 100%;
}

.item-4, .item-8 {
    grid-column: 1 / 4;

}

.item-last-row {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}


/* GRID IMAGES */

.grid-image-1 {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(images/skyscrapers.jpg);
    background-size: cover;
    max-width: 500px;
    height: 300px;
    position: relative;
  }

  .grid-image-2 {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/tree.png);
    background-size: cover;
    max-width: 500px;
    height: 300px;
    position: relative;
  }

  .grid-image-3 {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/puppy.jpg);
    background-size: cover;
    max-width: 500px;
    height: 300px;
    position: relative;
  }

  .grid-image-4 {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/Wide.jpg);
    background-size: auto;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    /* position: relative; */
   }

  .item p {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    background:rgba(255, 255, 255, .3);
    padding: 15px 0 15px 0;
  }

  .footer {
    position: bottom;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(100, 23, 200);
    text-align: center;
}

@media (max-width: 1000px) {
    .menu {
        display: flex;
        flex-direction: column;
            }

    .nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .nav ul li {
        padding: 5px;
        }

    .rightboxdog {
        display: none;
    }
}
 
@media (max-width: 500px) {
    .menu {
        display: flex;
        flex-direction: column;
    }

    .rightboxdog {
        display: none;
    }

    /* Sets entire site as responsive columnns at <= 500px */
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}